.Container{
  /* background-image:url('https://www.bhmpics.com/downloads/react-js-logo-Wallpapers/22.react-native.webp') */
  background:rgb(40 44 52);
  /* background:url('https://res.cloudinary.com/practicaldev/image/fetch/s--Fn9qUGmY--/c_imagga_scale,f_auto,fl_progressive,h_1080,q_auto,w_1080/https://dev-to-uploads.s3.amazonaws.com/uploads/articles/6r0jx20eopajy1gvz3m5.png');
   background-position: left;
    background-repeat: no-repeat; */
}  